polkit.addRule(function(action, subject) {
	if ((action.id === "org.freedesktop.NetworkManager.network-control" ||
	     action.id === "org.freedesktop.NetworkManager.settings.modify.system" ||	
	     action.id === "org.freedesktop.NetworkManager.settings.modify.own" ||	
	     action.id === "org.freedesktop.NetworkManager.settings.modify.hostname") &&
	     (subject.isInGroup("wheel")) && subject.active){
	     		return polkit.Result.YES;
		}
});
