polkit,addRule(function(action, subject) {
	if (action.id.indexOf("org.bluez.") === 0 && (subject.isInGroup("wheel"))){
	     	return polkit.Result.YES;
						}
});
