polkit.addRule(function(action, subject) {
    if ((action.id === "org.bluez.device.setproperty" ||
         action.id === "org.bluez.adapter.setproperty" ||
         action.id === "org.bluez.input" ||
	 action.id === "org.blueman.network.setup" ||
	 action.id === "org.blueman.dhcp.client" ||
	 action.id === "org.blueman.rfkill.setstage" ||
	 action.id === "org.blueman.pincode.get" ||
	 action.id === "org.blueman.service.connect" &&
	(subject.isInGroup("bluetooth"))){
		return polkit.Result.YES;
	}
});
